<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <h1  class="ml-4">Signup</h1>
        <br/>
        <form action="/signup">
             <div class="row ">
            <div class="col-4 ml-4">
              <label for="inputPassword6" class="col-form-label"><b>Username</b></label> 
              <input type="text" id="inputPassword6" class="form-control" placeholder="Enter Username:" required>
            </div>
          </div>
          <div class="row ">
            <div class="col-4 ml-4">
              <label for="inputPassword6" class="col-form-label"><b>First Name</b></label> 
              <input type="text" id="inputPassword6" class="form-control" placeholder="Enter FirstName:" required>
            </div>
          </div>
          <div class="row ">
            <div class="col-4 ml-4">
              <label for="inputPassword6" class="col-form-label"><b>Last Name</b></label> 
              <input type="text" id="inputPassword6" class="form-control" placeholder="Enter LastName:" required>
            </div>
          </div>
          <div class="row ">
            <div class="col-4 ml-4">
              <label for="inputPassword6" class="col-form-label"><b>Password<b></label> 
              <input type="password" id="inputPassword6" class="form-control" placeholder=" Enter Password:" required>
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-4 ml-4">
                <button class="btn btn-primary">Signup</button>
            </div>
          </div>
        </form>
       
    </body>
</html>